ion-input {
    text-align: right;
}

ion-select::part(label) {
    color: var(--ion-color-primary);
}

ion-toggle::part(label) {
    color: var(--ion-color-primary);
}

ion-input::part(label) {
    color: var(--ion-color-primary);
}

.selected-failure {
    border: 1px solid var(--ion-color-primary);
}

::ng-deep ion-select::part(popover) {
    z-index: 2000 !important;
    /* mayor que el overlay del p-dialog (~1100) */
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.table-caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* separación entre izquierda y derecha */
    gap: 1rem;
    flex-wrap: wrap;
    /* evita desbordes */
}

.table-caption-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* separación entre botones */
}

.table-caption-right {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    /* ajusta el espacio */
    /* Alinea al final, es decir, a la derecha */
    align-items: center;
    /* Opcional: centra verticalmente */
}