<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Producción</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-card class="stats-card">
        <p-table #dtFusion
                 dataKey="ResourceCode"
                 styleClass="card-table-primeng"
                 [tableStyle]="{ 'min-width': '50rem','height': '100%'}"
                 [size]="'small'"
                 [rowHover]="true"
                 [showCurrentPageReport]="true"
                 [paginator]="true"
                 currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} datos"
                 [filterDelay]="0"
                 [globalFilterFields]="['ResourceCode', 'ResourceName', 'ResourceClassCode']"
                 stripedRows
                 [scrollable]="true"
                 [alwaysShowPaginator]="true"
        >
          <ng-template #caption>
            <div class="table-caption">
              <p-button
                [outlined]="true"
                icon="pi pi-filter-slash"
                label="Limpiar" />

              <div></div> <!-- Spacer -->

              <p-iconField iconPosition="left">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text"
                       placeholder="Buscar" />
              </p-iconField>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="ResourceCode" style="min-width: 7rem">
                <div class="flex justify-between items-center">
                  O.T.
                  <p-sortIcon field="ResourceCode" />
                  <p-columnFilter type="text" field="ResourceCode" display="menu" class="ml-auto" />
                </div>
              </th>
              <th pSortableColumn="ResourceName" style="min-width: 9rem">
                <div class="flex justify-between items-center">
                  Máquina
                  <p-sortIcon field="ResourceName" />
                  <p-columnFilter type="text" field="ResourceName" display="menu" class="ml-auto" />
                </div>
              </th>
              <th pSortableColumn="ResourceClassCode" style="min-width: 9rem">
                <div class="flex justify-between items-center">
                  Producto
                  <p-sortIcon field="ResourceClassCode" />
                  <p-columnFilter field="ResourceClassCode" matchMode="equals" display="menu" class="ml-auto"/>
                </div>
              </th>
              <th pSortableColumn="ResourceClassCode" style="min-width: 9rem">
                <div class="flex justify-between items-center">
                  Descripción
                  <p-sortIcon field="ResourceClassCode" />
                  <p-columnFilter field="ResourceClassCode" matchMode="equals" display="menu" class="ml-auto"/>
                </div>
              </th>
              <th pSortableColumn="PlannedQuantity" style="min-width:7rem">
                <div class="flex justify-between items-center">
                  Meta
                  <p-sortIcon field="PlannedQuantity" />
                  <p-columnFilter field="PlannedQuantity" matchMode="equals" display="menu" class="ml-auto"/>
                </div>
              </th>
              <th pSortableColumn="CompletedQuantity" style="min-width: 7rem">
                <div class="flex justify-between items-center">
                  Completo
                  <p-sortIcon field="CompletedQuantity" />
                  <p-columnFilter field="CompletedQuantity" matchMode="equals" display="menu" class="ml-auto"/>
                </div>
              </th>
              <th pSortableColumn="StartDate" style="min-width: 7rem">
                <div class="flex justify-between items-center">
                  F. Inicio
                  <p-sortIcon field="StartDate" />
                  <p-columnFilter field="StartDate" matchMode="equals" display="menu" class="ml-auto"/>
                </div>
              </th>
              <th pSortableColumn="CompletionDate" style="min-width: 7rem">
                <div class="flex justify-between items-center">
                  F. Fin
                  <p-sortIcon field="CompletionDate" />
                  <p-columnFilter field="CompletionDate" matchMode="equals" display="menu" class="ml-auto"/>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <p-tag />
              </td>
              <td>
                <p-badge [value]="item.WorkOrderNumber" />
              </td>
              <td>{{ item.ItemNumber }}</td>
              <td>{{ item.ResourceCode }}</td>
              <td>{{ item.PlannedQuantity }}</td>
              <td>{{ item.CompletedQuantity }}</td>
              <td>
                <p-progressbar />
              </td>
              <td>{{ FormatForDisplayFromISO(item.StartDate) }}</td>
              <td>{{ FormatForDisplayFromISO(item.CompletionDate) }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No se encontraron recursos.</td>
            </tr>
          </ng-template>
        </p-table>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
