<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Despachos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-modal
    [isOpen]="isModaldispatchOpen" class="dispach-modal">
    <ng-template>

      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title slot="start">OT
            <strong>
              {{ (selectedWorkOrder[0]?.WorkOrderNumber || '123') }}
            </strong>
          </ion-title>
          <ion-title slot="end">Avance
            <strong>
              {{(selectedWorkOrder[0]?.CompletedQuantity || 0) + ' / ' + (selectedWorkOrder[0]?.PrimaryProductQuantity || '100') }}
            </strong>
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div *ngFor="let operation of getOperations(); last as isLast">
        <ion-grid [fixed]="true">
          <!-- Encabezado Operacion -->
          <ion-row class="section-header">
            <ion-col size="12" size-sm="3"></ion-col>
            <ion-col size="12" size-sm="2">
              <span>FALTANTE</span>
            </ion-col>
            <ion-col size="12" size-sm="2">
              <span>DESPERDICIO</span>
            </ion-col>
            <ion-col size="12" size-sm="2">
              <span>RECHAZO</span>
            </ion-col>
            <ion-col size="12" size-sm="2">
              <span>COMPLETO</span>
            </ion-col>
            <ion-col size="12" size-sm="1">
              <strong></strong>
            </ion-col>
          </ion-row>

          <ion-row class="operation-row">
            <ion-col size="12" size-sm="3">
              <strong>OPERACION {{ operation.OperationSequenceNumber }}</strong>
            </ion-col>
            <ion-col size="12" size-sm="2" class="section-header">
              <span class="text-red">{{ operation.ReadyQuantity }}</span>
            </ion-col>
            <ion-col size="12" size-sm="2">
              <input pInputText type="text" [value]="operation.ScrappedQuantity || 0" pSize="small" [disabled]="true" class="input-waste"/>
            </ion-col>
            <ion-col size="12" size-sm="2">
              <input pInputText type="text" [value]="operation.RejectedQuantity || 0" pSize="small" [disabled]="true" class="input-reject"/>
            </ion-col>
            <ion-col size="12" size-sm="2">
              <input pInputText type="text" [value]="operation.CompletedQuantity || 0" pSize="small" [disabled]="true" class="input-complete"/>
            </ion-col>
            <ion-col size="12" size-sm="1">
              <strong>{{ operation.UOMCode }}</strong>
            </ion-col>
          </ion-row>

          <!-- Salidas -->
          <ng-container *ngIf="getOutputsForOperation(operation.OperationSequenceNumber).length > 0">
          <ion-row class="data-row">
            <ion-col><br><strong class="section-title">SALIDAS</strong></ion-col>
          </ion-row>

            <ion-row class="data-row" *ngFor="let output of getOutputsForOperation(operation.OperationSequenceNumber)">
              <ion-col size="12" size-sm="5" class="text-list">{{ output.ItemNumber }}</ion-col>
              <ion-col size="12" size-sm="2">
                <input pInputText type="text" [value]="output.CompletedQuantity || 0" pSize="small" [disabled]="true" class="input-standard"/>
              </ion-col>
              <ion-col size="12" size-sm="2">{{ output.UOMCode }}</ion-col>
              <ion-col size="12" size-sm="2">
                <span class="text-blue">{{ output.OutputQuantity }}</span>
              </ion-col>
            </ion-row>
          </ng-container>

          <div class="line-divider"></div>

          <!-- Materiales de produccion -->
          <ng-container *ngIf="getMaterialsForOperation(operation.OperationSequenceNumber).length > 0">
          <ion-row class="data-row">
            <ion-col size="12" size-md="3">
              <br><strong class="section-title">MATERIALES</strong>
            </ion-col>
            <ion-col size="12" size-md="9" class="text-red">
              <br>Sin stock suficiente en algunos materiales
            </ion-col>
          </ion-row>

            <ion-row class="data-row" *ngFor="let material of getMaterialsForOperation(operation.OperationSequenceNumber)">
              <ion-col size="12" size-sm="3" class="text-list">{{ material.ItemNumber }}</ion-col>
              <ion-col size="12" size-sm="2">
                <span class="text-green">5000</span>
              </ion-col>
              <ion-col size="12" size-sm="2">
                <input pInputText type="text" [value]="material.Quantity" pSize="small" class="input-standard"/>
              </ion-col>
              <ion-col size="12" size-sm="2">{{ material.UOMCode }}</ion-col>
              <ion-col size="12" size-sm="2">
                <span class="text-blue">{{ material.Quantity }}</span>
              </ion-col>
            </ion-row>
          </ng-container>

          <div class="line-divider"></div>

          <!-- Recursos de producción EQUIPOS -->
          <ng-container *ngIf="getEquipmentResourcesForOperation(operation.OperationSequenceNumber).length > 0">
            <ion-row class="data-row">
              <ion-col size="12" size-sm="3">
                <br><strong class="section-title">EQUIPOS</strong>
              </ion-col>
            </ion-row>

            <ion-row class="data-row" *ngFor="let equipment of getEquipmentResourcesForOperation(operation.OperationSequenceNumber)">
              <ion-col size="12" size-sm="5" class="text-list">{{ equipment.ResourceName }}</ion-col>
              <ion-col size="12" size-sm="2">
                <input pInputText type="text" [value]="equipment.RequiredUsage" pSize="small" class="input-standard"/>
              </ion-col>
              <ion-col size="12" size-sm="2">{{ equipment.UOMCode }}</ion-col>
              <ion-col size="12" size-sm="2">
                <span class="text-blue">{{ equipment.RequiredUsage }}</span>
              </ion-col>
            </ion-row>
          </ng-container>

          <div class="line-divider"></div>

          <!-- Recursos de producción PERSONAL -->
          <ng-container *ngIf="getLaborResourcesForOperation(operation.OperationSequenceNumber).length > 0">
            <ion-row class="data-row">
              <ion-col size="12" size-sm="3">
                <br><strong class="section-title">PERSONAL</strong>
              </ion-col>
            </ion-row>

            <ion-row class="data-row" *ngFor="let labor of getLaborResourcesForOperation(operation.OperationSequenceNumber)">
              <ion-col size="12" size-sm="5" class="text-list">{{ labor.ResourceName }}</ion-col>
              <ion-col size="12" size-sm="2">
                <input pInputText type="text" [value]="labor.RequiredUsage" pSize="small" class="input-standard"/>
              </ion-col>
              <ion-col size="12" size-sm="2">{{ labor.UOMCode }}</ion-col>
              <ion-col size="12" size-sm="2">
                <span class="text-blue">{{ labor.RequiredUsage }}</span>
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-grid>
        </div>
      </ion-content>

      <!-- Botones -->
      <ion-footer class="footer-style">
        <ion-row>
          <ion-col size="6">
            <p-button
              label="CERRAR"
              severity="danger"
              [style]="{'width': '100%'}"
              styleClass="p-button-danger button-full-width"
              (click)="isModaldispatchOpen = false;">
            </p-button>
          </ion-col>
          <ion-col size="6">
            <p-button
              label="GUARDAR"
              severity="success"
              [style]="{'width': '100%'}"
              styleClass="p-button-success button-full-width">
            </p-button>
          </ion-col>
        </ion-row>
      </ion-footer>

    </ng-template>
  </ion-modal>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="OpenDispatch()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
