<ion-card [ngStyle]="{'border': '.2px solid'+ widgetData.color}">
  <ion-toolbar [ngStyle]="{'--background': widgetData.color}">
    <ion-buttons slot="end">
      <ion-button id="popover-spline-${{data['dashboard_id']}}" title="Opciones">
        <ion-icon slot="icon-only" name="ellipsis-vertical" [ngStyle]="{'color': widgetTextColor}"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-card-title [ngStyle]="{'color': widgetTextColor}">{{widgetData.name}} </ion-card-title>
  </ion-toolbar>

  <ion-card-content>
    <div class="indicator-container">
      <div class="circle-indicator" [ngClass]="isOn ? 'on' : 'off'" [ngStyle]="{'border': '2px solid ' + widgetData.sensors[0].maxColor, 'color': isOn ? 'white' : widgetData.sensors[0].maxColor, 'background': isOn ? widgetData.sensors[0].maxColor : 'white' }">
        <span>{{ isOn ? 'ON' : 'OFF' }}</span>
      </div>
    </div>
    <ion-item lines="none" style="align-self: stretch" class="ion-text-center">
      <ion-label color="medium">
        Última actualización: {{ lastDate | date: "d 'de' MMMM 'a las' h:mm a" }}
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-popover trigger="popover-spline-${{data['dashboard_id']}}" [dismissOnSelect]="true" showBackdrop="false">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false" (click)="editChart()">Editar <ion-icon slot="start"
            name="pencil-outline" color="success"></ion-icon></ion-item>
        <ion-item [button]="true" [detail]="false" (click)="deleteChart()">Eliminar <ion-icon slot="start"
            name="trash-outline" color="danger"></ion-icon></ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-modal [isOpen]="isModalOpen" (ionModalWillDismiss)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Editar widget</ion-title>
        <ion-buttons slot="end">
          <ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar"
            [(ngModel)]="copyWidgetData.color"></ngx-colors>
          <ion-button (click)="isModalOpen = false">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input type="text" placeholder="" [(ngModel)]="copyWidgetData.name" style="text-align: right;">
          <div slot="label"><ion-text color="primary">Nombre:</ion-text></div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" slot="start">Tipo:</ion-label>
        <ion-label slot="end"><strong>Gauge</strong></ion-label>
      </ion-item>
      <ion-item>
        <ion-select label="Máquina:" color="primary" [(ngModel)]="copyWidgetData.sensors[0].machine_id"
          label-placement="floating">
          <ion-select-option *ngFor="let mach of machines" [value]="mach.machine_id">
            {{ mach.machine_name }}
          </ion-select-option>
        </ion-select>
        <ion-select label="Sensor:" color="primary" [(ngModel)]="copyWidgetData.sensors[0].sensor_id"
          label-placement="floating">
          <ion-select-option *ngFor="let s of getSensorsForMachine(copyWidgetData.sensors[0].machine_id)"
            [value]="s.sensor_id">
            {{ s.sensor_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="" [(ngModel)]="copyWidgetData.sensors[0].max">
          <div slot="label"><ion-text color="primary">Apagado menor a: </ion-text></div>
        </ion-input>
        <ion-label color="primary">Color encendido:</ion-label>
        <ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar" style="margin-left: 10px;"
          [(ngModel)]="copyWidgetData.sensors[0].maxColor">
        </ngx-colors>
      </ion-item>
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="updateChartDB()">
          <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </ng-template>
</ion-modal>