ion-select::part(label) {
  color: var(--ion-color-primary);
}

ion-toggle::part(label) {
  color: var(--ion-color-primary);
}

ion-input::part(label) {
  color: var(--ion-color-primary);
}

p-datepicker {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}