ion-input {
    text-align: right;
}

ion-select::part(label) {
    color: var(--ion-color-primary);
}

ion-toggle::part(label) {
    color: var(--ion-color-primary);
}

ion-input::part(label) {
    color: var(--ion-color-primary);
}

.selected-failure {
    border: 1px solid var(--ion-color-primary);
}
::ng-deep ion-select::part(popover) {
  z-index: 2000 !important; /* mayor que el overlay del p-dialog (~1100) */
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}