<ion-header [translucent]="true" style="box-shadow: none !important;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-button size="large" (click)="ToggleMenu()">
          <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-button>
    </ion-buttons><ion-title>Alertas {{userData.Company.Name}}</ion-title>

    <div slot="end" class="card-select flex flex-wrap justify-center items-end gap-4">
      <p-floatlabel class="w-full md:w-56" variant="on">
        <p-select [(ngModel)]="organizationSelected" inputId="organization_select"
          [options]="userData.Company.Organizations" optionLabel="Name" [filter]="true" filterBy="Name"
          placeholder="Seleccione una organización" styleClass="w-full" [virtualScroll]="true"
          [virtualScrollItemSize]="38" (onChange)="GetAlerts()" appendTo="ion-app" />
        <label for="organization_select">Organización</label>
      </p-floatlabel>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-title>
            Alertas pendientes
          </ion-card-title>
          <p-table #dtAlerts [value]="alertsData" dataKey="alert_id" styleClass="card-table-primeng wo-table-custom"
            [tableStyle]="{ 'height': '100%'}" [size]="'small'" [rowHover]="true" [paginator]="true"
            [rows]="rowsPerPage" [globalFilterFields]="['name', 'area', 'machine_name']"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} datos"
            [showCurrentPageReport]="true" [filterDelay]="0" stripedRows [scrollable]="true"
            [scrollHeight]="scrollHeight" [sortOrder]="1">
            <ng-template #caption>
              <div class="table-caption">
                <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar" (click)="ClearAlerts(dtAlerts)" />

                <div></div> <!-- Spacer -->

                <p-iconField iconPosition="left">
                  <p-inputIcon>
                    <i class="fas fa-search"></i>
                  </p-inputIcon>
                  <input pInputText type="text" [(ngModel)]="searchValueAl" (input)="OnFilterGlobal($event, dtAlerts)"
                    placeholder="Buscar" />
                </p-iconField>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name" class="td-center" style="min-width: 7rem">
                  <div class="flex justify-between items-center">
                    Falla
                    <p-sortIcon field="name" />
                    <p-columnFilter type="text" field="name" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="type" class="td-center">
                  <div class="flex justify-between items-center">
                    Tipo
                    <p-sortIcon field="type" />
                    <p-columnFilter type="text" field="type" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="area" class="td-center">
                  <div class="flex justify-between items-center">
                    Area
                    <p-sortIcon field="area" />
                    <p-columnFilter type="text" field="area" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="machine_name" class="td-center">
                  <div class="flex justify-between items-center">
                    Máquina
                    <p-sortIcon field="machine_name" />
                    <p-columnFilter type="text" field="machine_name" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="status" class="td-center">
                  <div class="flex justify-between items-center">
                    Estado
                    <p-sortIcon field="status" />
                    <p-columnFilter type="text" field="status" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="start_date" class="td-center">
                  <div class="flex justify-between items-center">
                    Inicio
                    <p-sortIcon field="start_date" />
                    <p-columnFilter type="text" field="start_date" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="response_time" class="td-center">
                  <div class="flex justify-between items-center">
                    Tiempo de respuesta
                    <p-sortIcon field="response_time" />
                    <p-columnFilter type="text" field="response_time" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="repair_time" class="td-center">
                  <div class="flex justify-between items-center">
                    Tiempo de reparación
                    <p-sortIcon field="repair_time" />
                    <p-columnFilter type="text" field="repair_time" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th class="td-center">
                  <div class="flex justify-between items-center">
                    Acciones
                  </div>
                </th>
            </ng-template>
            <ng-template #body let-item>
              <tr>
                <td style="padding-left: 20px; max-width: 200px;"><strong>{{ item.name }}</strong></td>
                <td class="td-center">{{item.type || '-'}}</td>
                <td class="td-center">
                  <p-tag [value]="item.area"
                    [severity]="item.area === 'Mantenimiento' ? 'danger' : item.area === 'Almacén' ? 'info' : item.area === 'Producción' ? 'success' : item.area === 'Calidad' ? 'warn' : '' ">
                  </p-tag>
                </td>
                <td class="td-center">{{ item.machine_name}}</td>
                <td class="td-center">
                  <ion-icon
                    [color]="item.status == 0 ? 'warning' : item.status === 'attend' ? 'danger' : item.status === 'in_progress' ? 'tertiary' : item.status === 'finaliced' ? 'sucess' : ''"
                    [name]="item.status == 0 ? 'time-outline' : item.status === 'attend' ? 'warning-outline' : item.status === 'in_progress' ? 'time-outline' : item.status === 'finaliced' ? 'checkmark-outline' : ''">
                  </ion-icon>
                  {{item.status == 0 ? 'Pendiente' : item.status === 'attend' ? 'Atender' : item.status ===
                  'in_progress' ? 'Reparando' : item.status === 'finaliced' ? 'Finalizada' : ''}}
                </td>

                <td class="td-center">{{ item.start_date | date: 'dd/MM/yyyy hh:mm a' }}</td>
                <td class="td-center" [title]="getElapsedLegibleTime(item.start_date, item.response_time || '')">
                  <ng-container *ngIf="item.response_time; else elapsed">
                    <!--{{ item.response_time | date: 'hh:mm a dd/MM/yyyy' }}-->
                    {{ getElapsedStartEndTime(item.start_date, item.response_time) }}
                  </ng-container>
                  <ng-template #elapsed>
                    {{ getElapsedStartEndTime(item.start_date)}}
                  </ng-template>
                </td>
                <td class="td-center"
                  [title]="item.response_time ? getElapsedLegibleTime(item.response_time, item.repair_time) : 'En espera'">
                  <ng-container *ngIf="item.repair_time; else elapsedRepair">
                    {{ getElapsedStartEndTime(item.response_time, item.repair_time) }}
                    <!--{{ item.repair_time | date: 'hh:mm a dd/MM/yyyy' }}-->
                  </ng-container>
                  <ng-template #elapsedRepair>
                    {{ item.response_time != null ? getElapsedStartEndTime(item.response_time) : 'En espera' }}
                  </ng-template>
                </td>
                <td class="td-center">
                  <!--ion-button *ngIf="permissions.isSuperAdmin() && !item.response_time" size="small" color="warning"
                  (click)="AttendAlert(item)">
                  Atender </ion-button>
                <ion-button *ngIf="permissions.isSuperAdmin() && item.response_time && !item.repair_time" size="small"
                  color="success" (click)="FinaliceAlert(item)"> Finalizar </ion-button-->
                  <ion-button size="small" shape="round" color="warning" (click)="AttendAlert(item)" title="Atender"
                    *ngIf="permissions.isSuperAdmin() && !item.response_time && item.area">
                    <ion-icon slot="icon-only" name="hammer-outline"></ion-icon>
                  </ion-button>
                  <ion-button size="small" shape="round" color="secondary" (click)="EditAlert(item)" title="Atender"
                    *ngIf="permissions.isSuperAdmin() && !item.response_time">
                    <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                  </ion-button>
                  <ion-button size="small" shape="round" color="success" (click)="FinaliceAlert(item)" title="Finalizar"
                    *ngIf="permissions.isSuperAdmin() && item.response_time && !item.repair_time">
                    <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No se encontraron recursos.</td>
              </tr>
            </ng-template>
          </p-table>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-title>
            Alertas Finalizadas
          </ion-card-title>
          <p-table #dtFinalicedAlerts [value]="finalicedAlertsData" dataKey="alert_id"
            styleClass="card-table-primeng wo-table-custom" [tableStyle]="{ 'height': '100%'}" [size]="'small'"
            [rowHover]="true" [globalFilterFields]="['name', 'area', 'machine_name']" [filterDelay]="0" stripedRows
            [scrollable]="true" [scrollHeight]="scrollHeight" [sortOrder]="1">
            <ng-template #caption>
              <div class="table-caption">
                <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar" (click)="ClearAlerts(dtAlerts)" />

                <div></div> <!-- Spacer -->

                <p-iconField iconPosition="left">
                  <p-inputIcon>
                    <i class="fas fa-search"></i>
                  </p-inputIcon>
                  <input pInputText type="text" [(ngModel)]="searchValueAl" (input)="OnFilterGlobal($event, dtAlerts)"
                    placeholder="Buscar" />
                </p-iconField>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name" class="td-center">
                  <div class="flex justify-between items-center">
                    Falla
                    <p-sortIcon field="name" />
                    <p-columnFilter type="text" field="name" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="type" class="td-center">
                  <div class="flex justify-between items-center">
                    Tipo
                    <p-sortIcon field="type" />
                    <p-columnFilter type="text" field="type" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="area" class="td-center">
                  <div class="flex justify-between items-center">
                    Area
                    <p-sortIcon field="area" />
                    <p-columnFilter type="text" field="area" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="machine_name" class="td-center">
                  <div class="flex justify-between items-center">
                    Máquina
                    <p-sortIcon field="machine_name" />
                    <p-columnFilter type="text" field="machine_name" display="menu" class="ml-auto" />
                  </div>
                </th>
                <!--th pSortableColumn="status" class="td-center">
                  <div class="flex justify-between items-center">
                    Estado
                    <p-sortIcon field="status" />
                    <p-columnFilter type="text" field="status" display="menu" class="ml-auto" />
                  </div>
                </th-->
                <th pSortableColumn="start_date" class="td-center">
                  <div class="flex justify-between items-center">
                    Inicio
                    <p-sortIcon field="start_date" />
                    <p-columnFilter type="text" field="start_date" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="response_time" class="td-center">
                  <div class="flex justify-between items-center">
                    Tiempo de respuesta
                    <p-sortIcon field="response_time" />
                    <p-columnFilter type="text" field="response_time" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="repair_time" class="td-center">
                  <div class="flex justify-between items-center">
                    Tiempo de reparación
                    <p-sortIcon field="repair_time" />
                    <p-columnFilter type="text" field="repair_time" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="repair_time" class="td-center">
                  <div class="flex justify-between items-center">
                    Finalizada
                    <p-sortIcon field="repair_time" />
                    <p-columnFilter type="text" field="repair_time" display="menu" class="ml-auto" />
                  </div>
                </th>
                <!--th class="td-center">
                  <div class="flex justify-between items-center">
                    Acciones
                  </div>
                </th-->
            </ng-template>
            <ng-template #body let-item>
              <tr>
                <td style="padding-left: 20px; max-width: 200px;"><strong>{{ item.name }}</strong></td>
                <td class="td-center">{{item.type}}</td>
                <td class="td-center">
                  <p-tag [value]="item.area"
                    [severity]="item.area === 'Mantenimiento' ? 'danger' : item.area === 'Almacén' ? 'info' : item.area === 'Producción' ? 'success' : item.area === 'Calidad' ? 'warn' : '' ">
                  </p-tag>
                </td>
                <td class="td-center">{{ item.machine_name}}</td>
                <!--td class="td-center">
                  <p-tag
                    [value]="item.status == 0 ? 'Pendiente' : item.status === 'attend' ? 'Atender' : item.status === 'in_progress' ? 'Reparando' : item.status === 'finaliced' ? 'Finalizada' : ''"
                    [severity]="item.status == 0 ? 'warn' : item.status === 'attend' ? 'danger' : item.status === 'in_progress' ? 'warn' : item.status === 'finaliced' ? 'success' : '' ">
                    <ion-icon
                      [name]="item.status == 0 ? 'time-outline' : item.status === 'attend' ? 'warning-outline' : item.status === 'in_progress' ? 'time-outline' : item.status === 'finaliced' ? 'checkmark-outline' : ''"></ion-icon>
                  </p-tag>
                </td-->
                <td class="td-center">{{ item.start_date | date: 'dd/MM/yyyy hh:mm' }}</td>
                <td class="td-center" [title]="item.responseLegibleTimeString">
                  {{ item.responseTimeString }}
                </td>
                <td class="td-center" [title]="item.repairLegibleTimeString">
                  {{ item.repairTimeString }}
                </td>
                <td class="td-center">
                  {{ item.repair_time | date: 'dd/MM/yyyy hh:mm' }}
                </td>
                <!--td class="td-center">
                  <ion-button size="small" shape="round" color="danger" (click)="DeleteAlert(item)" title="Eliminar">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </td-->
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No se encontraron recursos.</td>
              </tr>
            </ng-template>
          </p-table>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<p-dialog [(visible)]="isEditAlertModalOpen" [modal]="true" [maximizable]="true" appendTo="ion-app"
  [style]="{ width: 'auto', height: '85vh', 'max-height': '90vh' }" (onHide)="isEditAlertModalOpen = false">
  <!-- HEADER PERSONALIZADO -->
  <ng-template pTemplate="header">
    <div class="dialog-header flex align-items-center justify-content-between flex-wrap gap-3">
      <h3 class="m-0">Editar alerta</h3>
      <div class="card-select flex items-end">
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-select [(ngModel)]="selectedArea" inputId="area_select" [options]="uniqueAreas" optionLabel="label"
            optionValue="value" [filter]="true" filterBy="label" placeholder="Filtrar área" styleClass="w-full"
            (onChange)="onAreaFilterChange($event)"></p-select>
          <label for="area_select">Área</label>
        </p-floatlabel>
      </div>
    </div>
  </ng-template>

  <!-- CONTENIDO -->
  <div class="dialog-content-wrapper">
    <p-table [value]="filteredFailures" selectionMode="single" [(selection)]="selectedFailure"
      [responsiveLayout]="'scroll'" styleClass="card-table-primeng">
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 28rem">Inicio</th>
          <th style="min-width: 6rem">Tipo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr [pSelectableRow]="item" [pSelectableRowIndex]="rowIndex">
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template pTemplate="footer">
    <ion-button color="danger" (click)="isEditAlertModalOpen = false">Cerrar</ion-button>
    <ion-button color="secondary" (click)="UpdateFailureOfAlert()" [disabled]="!selectedFailure">Guardar</ion-button>
  </ng-template>
</p-dialog>