ion-toolbar {
  padding-left: 0.5rem;
  flex-shrink: 0;
  position: relative;
}

ion-card {
  //min-height: 150px;
  //max-height: 150px;
  --background: var(--ion-color-back-shade, #fff);
  border-radius: 12px;

  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.6);
    transform: translateY(-2px);
  }
}

.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.line-with-text::before,
.line-with-text::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.line-with-text:not(:empty)::before {
  margin-right: .75em;
}

.line-with-text:not(:empty)::after {
  margin-left: .75em;
}