ion-toolbar {
  padding-left: 0.5rem;
  flex-shrink: 0;
  position: relative;
}

ion-card {
  //min-height: 150px;
  //max-height: 150px;
  min-height: 320px; // Ajusta según tu diseño
  --background: var(--ion-color-back-shade, #fff);
  border-radius: 12px;

  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.6);
    transform: translateY(-2px);
  }
}

.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.line-with-text::before,
.line-with-text::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.line-with-text:not(:empty)::before {
  margin-right: .75em;
}

.line-with-text:not(:empty)::after {
  margin-left: .75em;
}

.add-widget-card {
  border: 2px dashed var(--ion-color-primary);
  transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  --background: var(--ion-color-back-shade, #fff);
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover {
    transform: scale(1.008);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  ion-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 278px; // Ajusta según tu diseño
  }

  .add-widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
  }


  .add-icon {
    font-size: 48px;
    color: var(--ion-color-secondary);
  }

  .add-text h2 {
    margin: 0;
    font-size: 24px;
    color: var(--ion-color-secondary);
  }

  .add-text p {
    margin: 0;
    font-size: 18px;
  }
}

.sensor-con-formula {
  color: #FFD700;
  // Puedes agregar un efecto de glow si quieres que resalte más
  text-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}

.block-container {
  display: flex;
  gap: 8px;
  min-height: 50px;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
  /* Permite scroll si la fórmula es muy larga */
}

/* Efecto visual al arrastrar */
.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; // Esto hace que parezcan un solo elemento
  background: #fff;

  input {
    border: none;
    padding: 8px 12px;
    width: 60px;
    outline: none;
  }

  .add-btn {
    background: var(--ion-color-light);
    border: none;
    border-left: 1px solid #ccc;
    padding: 0 12px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

/* Ocultamos el icono por defecto */
.block-chip .delete-icon {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: var(--ion-color-medium);
}

/* Cuando pasas el mouse por el chip, mostramos el icono */
.block-chip:hover .delete-icon {
  opacity: 1;
}

/* Al pasar el mouse por el icono, se vuelve rojo */
.block-chip .delete-icon:hover {
  color: var(--ion-color-danger) !important;
  cursor: pointer;
}

ion-chip {
  cursor: pointer;
  transition: transform 0.2s;

  &:active {
    transform: scale(0.95);
  }
}

.block-chip ion-label {
  font-weight: 500;

  // Añadimos un pequeño efecto visual para indicar que es editable
  &:hover {
    text-decoration: underline;
  }
}

.formula-block-editor {
  /* Evita que los gestos táctiles se propaguen al ion-item-sliding en dispositivos móviles */
  touch-action: pan-y !important;
}

.block-chip {
  cursor: grab;
  /* Asegura que el touch action se concentre en el chip */
  touch-action: none !important;
}