<ion-header [translucent]="true" style="box-shadow: none !important;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-button size="large" (click)="ToggleMenu()">
          <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Campañas {{userData.Company.Name}}</ion-title>
    <!--div slot="end" class="card-select flex flex-wrap justify-center items-end gap-4">
      <p-floatlabel class="w-full md:w-56" variant="on">
        <p-select [(ngModel)]="organizationSelected" inputId="organization_select"
          [options]="userData.Company.Organizations" optionLabel="Name" [filter]="true" filterBy="Name"
          placeholder="Seleccione una organización" styleClass="w-full" [virtualScroll]="true"
          [virtualScrollItemSize]="38" (onChange)="GetCampaigns()" appendTo="body" />
        <label for="organization_select">Organización</label>
      </p-floatlabel>
    </div-->
    <div slot="end" class="card-select flex flex-wrap justify-center items-end gap-4">
      <p-floatlabel class="w-full md:w-56" variant="on">
        <p-select [(ngModel)]="organizationSelected" inputId="organization_select"
          [options]="userData.Company.Organizations" optionLabel="Name" [filter]="true" filterBy="Name"
          placeholder="Seleccione una organización" [virtualScroll]="true" [virtualScrollItemSize]="38"
          (onChange)="GetWorkCenters()" appendTo="body" />
        <label for="organization_select">Organización</label> <!-- [closable]="!alerts.pd.loading"-->
      </p-floatlabel>
      <p-floatlabel class="w-full md:w-56" variant="on">
        <p-select [(ngModel)]="workCenter" inputId="workCenter" [options]="workCenters" optionLabel="WorkCenterName"
          [filter]="true" filterBy="WorkCenterId" placeholder="Seleccione centro de trabajo" styleClass="w-full"
          [virtualScroll]="true" [virtualScrollItemSize]="38" (onChange)="GetCampaigns()" appendTo="body" />
        <label for="workCenter">Área de trabajo</label>
      </p-floatlabel>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-breadcrumbs>
    <ion-breadcrumb (click)="GetCampaigns()" style="cursor: pointer;"><strong>Campañas</strong></ion-breadcrumb>
    <ion-breadcrumb (click)="GetCurrentCampaign(currentCampaign)" *ngIf="currentCampaign.campaign_id"
      style="cursor: pointer;"><strong>{{currentCampaign.code}}</strong></ion-breadcrumb>
    <ion-breadcrumb *ngIf="currentWO.work_order_number" style="cursor: pointer;"
      color="primary"><strong>{{currentWO.work_order_number}}</strong></ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card *ngIf="!showCampaign">
          <p-table #dtCampaigns [value]="campaignsArray" dataKey="campaign_id"
            styleClass="card-table-primeng wo-table-custom" [tableStyle]="{ 'height': '100%'}" [size]="'small'"
            [rowHover]="true" [paginator]="true" [rows]="rowsPerPage" [selectionMode]="'multiple'"
            [(selection)]="selectedCampaigns" [globalFilterFields]="['code', 'name', 'status_telegram', 'coils']"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [showCurrentPageReport]="true" [filterDelay]="0" stripedRows [scrollable]="true"
            [scrollHeight]="scrollHeight" [sortOrder]="1">

            <!-- Encabezado con buscador -->
            <ng-template #caption>
              <div class="table-caption">
                <div class="table-caption-left">
                  <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar"
                    (click)="ClearCampaigns(dtCampaigns)" />
                  <p-button [outlined]="true" icon="pi pi-plus-circle" label="Nueva" variant="outlined" severity="info"
                    (click)="ShowNewCampaign()" />
                  <div style="font-size: 17px;">
                    Campañas
                  </div>
                </div>

                <div class="table-caption-right">
                  <div [ngSwitch]="getCampaignsStatus()">
                    <p-button *ngSwitchCase="'0'" class="btn-add" [outlined]="true" icon="pi pi-arrow-right"
                      label="Publish to MES" (click)="PublishToMES()" variant="outlined" severity="warn" />
                    <p-button *ngSwitchCase="'1'" class="btn-add" [outlined]="true" icon="pi pi-arrow-right"
                      label="Publish to L2" (click)="PublishToL2()" variant="outlined" severity="info" />
                    <p-button *ngSwitchCase="'2'" class="btn-add" [outlined]="true" icon="pi pi-arrow-left"
                      label="Recovery to MES" (click)="RecoveryToMES()" variant="outlined" severity="success" />
                  </div>

                  <p-iconField iconPosition="left">
                    <p-inputIcon>
                      <i class="fas fa-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" [(ngModel)]="searchValueAl"
                      (input)="OnFilterGlobal($event, dtCampaigns)" placeholder="Buscar" />
                  </p-iconField>
                </div>
              </div>
            </ng-template>

            <!-- Columnas -->
            <ng-template pTemplate="header">
              <tr>
                <!--th>
                </th-->
                <th style="width: 4rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="code" class="td-center">
                  <div class="flex justify-between items-center">
                    ID
                    <p-sortIcon field="code" />
                    <p-columnFilter type="text" field="code" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="name" class="td-center">
                  <div class="flex justify-between items-center">
                    Nombre
                    <p-sortIcon field="name" />
                    <p-columnFilter type="text" field="name" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="coils" class="td-center">
                  <div class="flex justify-between items-center">
                    Coils
                    <p-sortIcon field="coils" />
                    <p-columnFilter type="numeric" field="coils" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th pSortableColumn="start_date" class="td-center">
                  <div class="flex justify-between items-center">
                    F. Inicio
                    <p-sortIcon field="start_date" />
                  </div>
                </th>
                <th pSortableColumn="end_date" class="td-center">
                  <div class="flex justify-between items-center">
                    F. Fin
                    <p-sortIcon field="end_date" />
                  </div>
                </th>
                <th pSortableColumn="status_telegram" class="td-center">
                  <div class="flex justify-between items-center">
                    Status
                    <p-sortIcon field="status_telegram" />
                    <p-columnFilter type="text" field="status_telegram" display="menu" class="ml-auto" />
                  </div>
                </th>
                <th class="td-center">Acciones</th>
              </tr>
            </ng-template>

            <!-- Cuerpo -->
            <ng-template pTemplate="body" let-item>
              <tr class="clickable-row ion-activatable" (click)="GetCurrentCampaign(item)">
                <td (click)="$event.stopPropagation();">
                  <p-tableCheckbox [value]="item" (click)="$event.stopPropagation();"></p-tableCheckbox>
                </td>
                <td class="td-center">
                  <p-tag [value]="item.code" severity="contrast"></p-tag>
                </td>
                <td class="td-center"><strong>{{ item.name }}</strong></td>
                <td class="td-center"><strong>{{ item.coils }}</strong></td>
                <td class="td-center">{{ item.start_date | date: 'dd/MM/yyyy hh:mm a' }}</td>
                <td class="td-center">{{ item.end_date | date: 'dd/MM/yyyy hh:mm a' }}</td>
                <td class="td-center">
                  <p-tag [value]="item.status_telegram" [severity]="item.status_telegram === 'Unschedule' ? 'warn' :
                    item.status_telegram === 'Published to MES' ? 'success' :
                    item.status_telegram === 'Published to L2' ? 'info' : 'danger'">
                  </p-tag>
                </td>
                <td class="td-center">
                  <ion-button size="small" shape="round" color="danger" *ngIf="item.coils == 0"
                    (click)="$event.stopPropagation(); DeleteCampaign(item)" title="Eliminar">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                  <ion-button size="small" shape="round" color="success"
                    *ngIf="item.status_telegram === 'Published to MES' || item.status_telegram === 'Unschedule'"
                    (click)="$event.stopPropagation(); EditCampaign(item)" title="Editar">
                    <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                  </ion-button>
                  <ion-button size="small" shape="round" color="tertiary"
                    *ngIf="item.status_telegram === 'Published to L2'"
                    (click)="$event.stopPropagation(); ShowCampaign(item)" title="Visualizar">
                    <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                  </ion-button>
                </td>
                <ion-ripple-effect></ion-ripple-effect>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8">No se encontraron campañas.</td>
              </tr>
            </ng-template>
          </p-table>
        </ion-card>

        <!-- WO relacionadas a la campaña -->
        <ion-card *ngIf="showCampaign">
          <p-table #dtOrders [value]="currentCampaign.work_orders" dataKey="work_order_number"
            styleClass="card-table-primeng orders-table-custom" [tableStyle]="{ 'height': '100%'}" [size]="'small'"
            [rowHover]="true" [paginator]="true" [rows]="rowsPerPage"
            [globalFilterFields]="['work_order_number','item_number','item_description','planned_quantity','machine_name', 'status']"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [showCurrentPageReport]="true" [filterDelay]="0" stripedRows [scrollable]="true"
            [scrollHeight]="scrollHeight" [sortOrder]="1" [selectionMode]="'multiple'" [(selection)]="selectedOrders"
            [rowTrackBy]="rowTrackBy">

            <!-- Filtros / Buscador -->
            <ng-template #caption>
              <div class="table-caption">
                <div class="table-caption-left">
                  <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar"
                    (click)="ClearOrders(dtOrders)" />
                  <p-button class="btn-add" [outlined]="true" icon="pi pi-plus-circle" label="Agregar"
                    variant="outlined" severity="info" (click)="isModalFreeOrdersOpen = true;" />
                  <!--div style="font-size: 25px;">
                    Campaña de producción:
                    <strong style="color: var(--ion-color-primary);">{{currentCampaign.code}}</strong>
                  </div-->
                  <div style="font-size: 17px;">
                    Estado:
                    <strong style="color: var(--ion-color-success);">{{ currentCampaign.status_telegram }}</strong>
                  </div>
                </div>
                <div class="table-caption-right">
                  <p-button *ngIf="currentCampaign.status_telegram == 'Unschedule'" class="btn-add" [outlined]="true"
                    icon="pi pi-arrow-right" label="Publish to MES" (click)="PublishToMES()" variant="outlined"
                    severity="warn" />
                  <p-button *ngIf="currentCampaign.status_telegram == 'Published to MES'" class="btn-add"
                    [outlined]="true" icon="pi pi-arrow-right" label="Publish to L2" (click)="PublishToL2()"
                    variant="outlined" severity="info" />
                  <p-button *ngIf="currentCampaign.status_telegram == 'Published to L2'" class="btn-add"
                    [outlined]="true" icon="pi pi-arrow-left" label="Recovery to MES" (click)="RecoveryToMES()"
                    variant="outlined" severity="success" />
                  <p-button class="btn-add" [outlined]="true" icon="pi pi-delete-left" label="Eliminar"
                    *ngIf="selectedOrders.length > 0" variant="outlined" severity="danger" (click)="DeleteOrders()" />
                  <p-iconField iconPosition="left">
                    <p-inputIcon>
                      <i class="fas fa-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" [(ngModel)]="searchOrders" (input)="OnFilterGlobal($event, dtOrders)"
                      placeholder="Buscar" />
                  </p-iconField>
                </div>
              </div>
            </ng-template>


            <!-- Encabezado -->
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 4rem">
                  <p-tableHeaderCheckbox
                    [disabled]="currentCampaign.status_telegram != 'Published to MES' && currentCampaign.status_telegram != 'Unschedule'"></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="work_order_number" class="td-center">Orden #<p-sortIcon
                    field="work_order_number" /></th>
                <th pSortableColumn="sequence" class="td-center">Seq.</th>
                <th class="td-center">Lote</th>
                <th pSortableColumn="item_number" class="td-center">Item <p-sortIcon field="item_number" /></th>
                <th pSortableColumn="planned_quantity" class="td-center">Cantidad planeada <p-sortIcon
                    field="planned_quantity" /></th>
                <th pSortableColumn="item_description" class="td-center">Descripción <p-sortIcon
                    field="item_description" /></th>
                <!--th pSortableColumn="machine_name" class="td-center">Máquina <p-sortIcon field="machine_name" /></th-->
                <th pSortableColumn="start_date" class="td-center">Fecha inicio <p-sortIcon field="start_date" /></th>
                <th pSortableColumn="end_date" class="td-center">Fecha fin <p-sortIcon field="end_date" /></th>
                <!--th pSortableColumn="status">Estado <p-sortIcon field="status" /></th-->
                <th class="td-center">Acciones</th>
              </tr>
            </ng-template>

            <!-- Cuerpo -->
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex" let-index="rowIndex">
              <tr [class.selected-row]="isSelected(item)" [class.draggable-row]="selectedOrders.length > 0"
                [pSelectableRow]="item" [draggable]="selectedOrders.length > 0 && isSelected(item)"
                (dragstart)="onDragStart($event, item)" (dragover)="onDragOver($event, rowIndex)"
                (drop)="onDrop($event, rowIndex)" (dragend)="onDragEnd($event)"
                [style.cursor]="selectedOrders.length > 0 && isSelected(item) ? 'move' : 'default'"
                [pSelectableRowDisabled]="currentCampaign.status_telegram == 'Published to L2' || currentCampaign.status_telegram != 'Unschedule'">
                <td>
                  <p-tableCheckbox [value]="item"
                    [disabled]="currentCampaign.status_telegram != 'Published to MES' && currentCampaign.status_telegram != 'Unschedule'"></p-tableCheckbox>
                </td>
                <td class="td-center">
                  <p-tag [value]="item.work_order_number" [severity]="'contrast'" />
                </td>
                <td class="td-center">{{ item.sequence }}</td>
                <td class="td-center" (click)="$event.stopPropagation()">
                  <ion-button id="lot-popover-{{item.work_order_id}}" expand="block" fill="outline"
                    [disabled]="currentCampaign.status_telegram != 'Published to MES' && currentCampaign.status_telegram != 'Unschedule'"
                    [color]="item.selectedlot ? 'secondary' : 'medium'" shape="round" size="small">
                    {{ item.selectedlot || 'Seleccione lote' }}
                  </ion-button>
                  <ion-popover trigger="lot-popover-{{item.work_order_id}}" [dismissOnSelect]="true">
                    <ng-template>
                      <ion-list>
                        <ion-item button *ngFor="let lot of item.lots" (click)="SaveLotOnWO(lot.name, item)"
                          [color]="item.selectedlot === lot.name ? 'secondary' : ''"> {{ lot.name }}
                          <ion-icon *ngIf="item.selectedlot === lot.name" name="checkmark" slot="end">
                          </ion-icon>
                        </ion-item>
                      </ion-list>
                    </ng-template>
                  </ion-popover>
                </td>
                <td class="td-center" (click)="$event.stopPropagation()">{{ item.item_number }}</td>
                <td class="td-center"><strong>{{ item.planned_quantity + ' ' + item.uom }}</strong></td>
                <td class="td-center">{{ item.item_description }}</td>
                <!--td class="td-center">{{ item.machine_name }}</td-->
                <td class="td-center">{{ item.start_date | date: 'dd/MM/yyyy hh:mm a'}}</td>
                <td class="td-center">{{ item.end_date | date: 'dd/MM/yyyy hh:mm a'}}</td>
                <!--td class="td-center">
                  <p-tag
                    [value]="item.status === 'UNRELEASED' ? 'Sin liberar' : item.status === 'IN_PROCESS' ? 'En proceso' : item.status === 'COMPLETED' ? 'Completada' : ''"
                    [severity]="item.status === 'UNRELEASED' ? 'info' : item.status === 'IN_PROCESS' ? 'warn' : item.status === 'COMPLETED' ? 'success' : ''">
                  </p-tag>
                </td-->
                <td class="td-center" (click)="$event.stopPropagation()">
                  <ion-button size="small" shape="round" color="danger" (click)="DeleteOrder(item)"
                    [disabled]="currentCampaign.status_telegram != 'Published to MES' && currentCampaign.status_telegram != 'Unschedule'"
                    title="Eliminar de la campaña">
                    <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            </ng-template>

            <!-- Mensaje vacío -->
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="10">No se encontraron órdenes de trabajo.</td>
              </tr>
            </ng-template>
          </p-table>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p-dialog [(visible)]="isModalNewCampaign" [modal]="true" [style]="{ width: '600px', 'max-height': '90vh' }"
    [draggable]="true" [resizable]="true" [maximizable]="true" appendTo="body" (onHide)="isModalNewCampaign = false">
    <!-- HEADER -->
    <ng-template pTemplate="header">
      <div class="dialog-header">
        <span>
          {{
          campaignObj.visualization
          ? 'Información de la campaña'
          : campaignObj.isNew
          ? 'Nueva campaña'
          : 'Editar campaña'
          }}
        </span>
      </div>
    </ng-template>

    <!-- CONTENIDO -->
    <div class="dialog-content-wrapper p-fluid p-formgrid p-grid" style="padding: 1rem;">

      <ion-item>
        <ion-input type="text" placeholder="Ej: CMP-001" [(ngModel)]="campaignObj.code" disabled>
          <div slot="label"><ion-text color="primary">Código:</ion-text></div>
        </ion-input>
      </ion-item>
      <!-- Nombre -->
      <ion-item>
        <ion-input type="text" placeholder="Ej: Campaña Julio 2025" [(ngModel)]="campaignObj.name">
          <div slot="label"><ion-text color="primary">Nombre:</ion-text></div>
        </ion-input>
      </ion-item>
      <!-- Descripción -->
      <ion-item>
        <ion-input type="text" placeholder="Descripción de la campaña" [(ngModel)]="campaignObj.description">
          <div slot="label"><ion-text color="primary">Descripción:</ion-text></div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label slot="start" color="primary">Centro de trabajo:</ion-label>
        <ion-label slot="end" style="text-align: right;">{{workCenter.WorkAreaName}}</ion-label>
      </ion-item>
      <!-- Fechas -->
      <ion-item>
        <ion-label style="color: var(--ion-color-primary);">Fecha de inicio:</ion-label>
        <p-datepicker slot="end" [(ngModel)]="minDate" [showTime]="true" [showIcon]="true" [readonlyInput]="true"
          [maxDate]="maxDate" dateFormat="dd/mm/yy" hourFormat="12" [showButtonBar]="true" appendTo="body">
        </p-datepicker>
      </ion-item>

      <ion-item>
        <ion-label style="color: var(--ion-color-primary);">Fecha de finalización:</ion-label>
        <p-datepicker slot="end" [(ngModel)]="maxDate" [showTime]="true" [showIcon]="true" [readonlyInput]="true"
          [minDate]="maxDate" dateFormat="dd/mm/yy" hourFormat="12" [showButtonBar]="true" appendTo="body">
        </p-datepicker>
      </ion-item>
    </div>
    <!-- FOOTER -->
    <ng-template pTemplate="footer">
      <div class="footer-style">
        <p-button label="Cerrar" severity="danger" (click)="OnlyCloseCampaignModal()" />
        <p-button label="{{
          campaignObj.visualization
            ? 'Ok'
            : campaignObj.isNew
            ? 'Guardar'
            : 'Guardar Cambios'
        }}" severity="success" (click)="
          campaignObj.visualization
            ? OnlyCloseCampaignModal()
            : campaignObj.isNew
            ? SaveCampaign()
            : SaveCampaignChanges()
        " [disabled]="campaignObj.code == '' || campaignObj.name == ''" />
      </div>
    </ng-template>
  </p-dialog>
  <!--ion-modal [isOpen]="isModalFreeOrdersOpen" (ionModalWillDismiss)="OnlyCloseCampaignModal()" [focusTrap]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Órdenes de trabajo sin campaña</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding"><p-table #dtOrders [value]="freeWorkOrdersArray"
          [(selection)]="selectedFreeOrders" dataKey="work_order_number" selectionMode="multiple"
          styleClass="card-table-primeng orders-table-custom" [tableStyle]="{ 'height': '100%'}" [size]="'small'"
          [rowHover]="false" [paginator]="true" [rows]="rowsPerPage"
          [globalFilterFields]="['work_order_number','item_number','machine_name','itemDescription','status']"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
          [showCurrentPageReport]="true" [filterDelay]="0" stripedRows [scrollable]="true" [scrollHeight]="scrollHeight"
          [sortOrder]="1">
          <ng-template #caption>
            <div class="table-caption">
              <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar" (click)="ClearOrders(dtOrders)" />
              <p-iconField iconPosition="left">
                <p-inputIcon>
                  <i class="fas fa-search"></i>
                </p-inputIcon>
                <input pInputText type="text" [(ngModel)]="searchOrders" (input)="OnFilterGlobal($event, dtOrders)"
                  placeholder="Buscar" />
              </p-iconField>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              <th pSortableColumn="work_order_number" class="td-center">
                Orden #<p-sortIcon field="work_order_number" />
              </th>
              <th pSortableColumn="item_number" class="td-center">
                Item <p-sortIcon field="item_number" />
              </th>
              <th pSortableColumn="machine_name" class="td-center">
                Máquina <p-sortIcon field="machine_name" />
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr [pSelectableRow]="item">
              <td>
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
              </td>
              <td class="td-center">{{ item.work_order_number }}</td>
              <td class="td-center">{{ item.item_number }}</td>
              <td class="td-center">{{ item.machine_name }}</td>
                <p-tag
                  [value]="item.status === 'UNRELEASED' ? 'Sin liberar' : item.status === 'IN_PROCESS' ? 'En proceso' : item.status === 'COMPLETED' ? 'Completada' : ''"
                  [severity]="item.status === 'UNRELEASED' ? 'info' : item.status === 'IN_PROCESS' ? 'warn' : item.status === 'COMPLETED' ? 'success' : ''">
                </p-tag>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No se encontraron órdenes de trabajo.</td>
            </tr>
          </ng-template>
        </p-table>
      </ion-content>
      <ion-footer class="footer-style">
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="danger" (click)="OnlyCloseCampaignModal()">
              CERRAR
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" (click)="SaveSelectedFreeOrdersToCampaign()">
              GUARDAR
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ng-template>
  </ion-modal-->
  <p-dialog [(visible)]="isModalFreeOrdersOpen" [modal]="true"
    [style]="{ width: 'auto', height: '90vh', 'max-height': '95vh' }" [draggable]="true" [resizable]="true"
    [maximizable]="true" appendTo="body" (onHide)="OnlyCloseCampaignModal()">
    <!-- HEADER -->
    <ng-template pTemplate="header">
      <div class="dialog-header">
        <ion-title>Órdenes de trabajo sin campaña</ion-title>
      </div>
    </ng-template>

    <!-- CONTENIDO -->
    <div class="dialog-content-wrapper">
      <p-table #dtOrders [value]="freeWorkOrdersArray" [(selection)]="selectedFreeOrders" dataKey="work_order_number"
        selectionMode="multiple" [size]="'small'" [rowHover]="false" [paginator]="true" [rows]="rowsPerPage"
        [globalFilterFields]="['work_order_number','item_number','machine_name','itemDescription','status']"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true" [filterDelay]="0" stripedRows >

        <!-- Filtros -->
        <ng-template #caption>
          <div class="table-caption">
            <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar" (click)="ClearOrders(dtOrders)" />
            <p-iconField iconPosition="left">
              <p-inputIcon><i class="fas fa-search"></i></p-inputIcon>
              <input pInputText type="text" [(ngModel)]="searchOrders" (input)="OnFilterGlobal($event, dtOrders)"
                placeholder="Buscar" />
            </p-iconField>
          </div>
        </ng-template>

        <!-- Encabezado -->
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 2rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="work_order_number" class="td-center" style="min-width: 5rem">
              Orden # <p-sortIcon field="work_order_number" />
            </th>
            <th pSortableColumn="item_number" class="td-center" style="min-width: 15rem">
              Item <p-sortIcon field="item_number" />
            </th>
            <th pSortableColumn="machine_name" class="td-center" style="min-width: 20rem">
              Máquina <p-sortIcon field="machine_name" />
            </th>
          </tr>
        </ng-template>

        <!-- Cuerpo -->
        <ng-template pTemplate="body" let-item>
          <tr [pSelectableRow]="item">
            <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
            <td class="td-center">{{ item.work_order_number }}</td>
            <td class="td-center">{{ item.item_number }}</td>
            <td class="td-center">{{ item.machine_name }}</td>
          </tr>
        </ng-template>

        <!-- Mensaje vacío -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No se encontraron órdenes de trabajo.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- FOOTER -->
    <ng-template pTemplate="footer">
      <div class="footer-style">
        <p-button label="Cerrar" severity="danger" (click)="OnlyCloseCampaignModal()" />
        <p-button label="Guardar" severity="success" (click)="SaveSelectedFreeOrdersToCampaign()" />
      </div>
    </ng-template>
  </p-dialog>

  <!--ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="showCampaign">
    <ion-fab-button (click)="ShowNewWO()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-->

  <!--p-table [value]="products" [(selection)]="selectedProducts" selectionMode="multiple" [reorderableRows]="true"
    (onRowReorder)="onRowReorder($event)">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th pSortableColumn="code">Code</th>
        <th pSortableColumn="name">Name</th>
        <th pSortableColumn="category">Category</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
      <tr [pSelectableRow]="product" [pSelectableRowIndex]="rowIndex">
        <td>
          <span class="pi pi-bars" pReorderableRowHandle></span>
        </td>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
      </tr>
    </ng-template>
  </p-table-->

</ion-content>