.responsive-pdialog {
  width: 35vw;
  height: auto;

  @media (max-width: 1600px) {
    width: 45vw;
  }

  @media (max-width: 1400px) {
    width: 55vw;
  }

  @media (max-width: 1200px) {
    width: 65vw;
  }

  @media (max-width: 1000px) {
    width: 75vw;
  }

  @media (max-width: 920px) {
    width: auto;
  }
}
