/******************************* Table PrimeNG Header Search *******************************/
.table-caption {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  align-items: center;
  min-height: 40px;
}

/******************************* Color Table PrimeNG  *******************************/
.card-table-primeng {
  // Contenedor principal
  background-color: var(--ion-color-card) !important;

  // Caption/Header de la tabla
  .p-datatable-header {
    background-color: var(--ion-color-card) !important;
    color: var(--ion-color-card-contrast) !important;
    border-color: var(--ion-color-card-tint) !important;
  }

  // Encabezados de columna
  .p-datatable-thead>tr>th {
    background-color: var(--ion-color-card-shade) !important;
    color: var(--ion-color-card-contrast) !important;
    border-color: var(--ion-color-card-tint) !important;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.32) !important;
  }

  .p-datatable-tbody>tr>td {
    border-color: var(--ion-color-tab-border) !important;
  }

  // Filas del cuerpo
  .p-datatable-tbody>tr {
    background-color: var(--ion-color-card) !important;
    color: var(--ion-color-card-contrast) !important;

    &:nth-child(even) {
      background-color: var(--ion-color-card-shade) !important;
    }
  }

  // Paginación
  .p-paginator {
    background-color: var(--ion-color-card) !important;
    color: var(--ion-color-card-contrast) !important;
    border-color: var(--ion-color-card-tint) !important;

    .p-paginator-pages .p-paginator-page {
      background-color: transparent !important;
      color: var(--ion-color-card-contrast) !important;

      &.p-highlight {
        background-color: var(--ion-color-card-tint) !important;
      }

      &:hover {
        background-color: var(--ion-color-card-shade) !important;
      }
    }

    .p-paginator-first,
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-last {
      color: var(--ion-color-card-contrast) !important;

      &:hover {
        background-color: var(--ion-color-card-tint) !important;
      }
    }

    .p-dropdown {
      background-color: var(--ion-color-card-shade) !important;
      color: var(--ion-color-card-contrast) !important;
      border-color: var(--ion-color-card-tint) !important;
    }
  }

  // Estilo para la fila seleccionada
  .p-datatable-tbody>tr.p-datatable-row-selected {
    background-color: #064e3b !important;
    color: var(--ion-color-secondary-contrast) !important;
  }

  // (Opcional) Al pasar el mouse sobre una fila seleccionada
  .p-datatable-tbody>tr.p-datatable-row-selected:hover {
    background-color: #064e3b !important;
  }

  // (Opcional) borde visual lateral
  .p-datatable-tbody>tr.p-datatable-row-selected {
    border-left: 4px solid #064e3b !important;
  }
}

// Centrar horizontal y verticalmente
.td-center {
  text-align: center !important;
  vertical-align: middle !important;
}