<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-button size="large" (click)="toggleMenu()">
          <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>{{dashboardData.group_name}} - {{dashboardData.organization_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="drag-grid">
    <ion-row cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="widgets"
      cdkDropListOrientation="mixed" class="drag-row">
      <ion-col *ngFor="let widget of widgets; let i = index;" [size]="getResponsiveSize(widget)"
        [style.width.px]="widget.previewWidth || getDefaultWidth()" [class.resizing-mode]="!!widget.previewWidth"
        [style.max-width]="widget.previewWidth ? widget.previewWidth + 'px' : ''"
        (resizing)="onResizing($event, widget)" class="resizable-col" cdkDrag mwlResizable [enableGhostResize]="true"
        [ghostElementPositioning]="'absolute'" [resizeEdges]="{ top: false, bottom: false, left: i > 0, right: true }"
        (resizeEnd)="onResizeEnd($event, widget)" (resizeStart)="onResizeStart($event, widget)">

        <div class="resize-handle resize-handle-right" mwlResizeHandle [resizeEdges]="{ right: true }">
        </div>
        <div class="widget-container">
          <ng-container [ngSwitch]="widget.jsonParams.widgetType">
            <app-charts *ngSwitchCase="'chart'" [data]="widget.jsonParams" [refreshData]="shouldRefresh"
              (remove)="removeWidget(widget.jsonParams.dashboard_id)"> </app-charts>
            <app-heatmap *ngSwitchCase="'heatmap'" [data]="widget.jsonParams" [refreshData]="shouldRefresh"
              (remove)="removeWidget(widget.jsonParams.dashboard_id)"> </app-heatmap>
            <app-thermometer *ngSwitchCase="'thermo'" [data]="widget.jsonParams"
              (remove)="removeWidget(widget.jsonParams.dashboard_id)"> </app-thermometer>
            <app-gauge *ngSwitchCase="'gauge'" [data]="widget.jsonParams"
              (remove)="removeWidget(widget.jsonParams.dashboard_id)"> </app-gauge>
            <app-onoff *ngSwitchCase="'onoff'" [data]="widget.jsonParams"
              (remove)="removeWidget(widget.jsonParams.dashboard_id)"> </app-onoff>
            <app-watertank *ngSwitchCase="'watertank'" [data]="widget.jsonParams"
              (remove)="removeWidget(widget.jsonParams.dashboard_id)"> </app-watertank>
            <app-counter *ngSwitchCase="'counter'" [data]="widget.jsonParams"
              (remove)="removeWidget(widget.jsonParams.dashboard_id)"> </app-counter>
            <app-numeric *ngSwitchCase="'number'" [data]="widget.jsonParams"
              (remove)="removeWidget(widget.jsonParams.dashboard_id)"> </app-numeric>
          </ng-container>
        </div>
      </ion-col>
      <ion-col size-sm="12" size-md="6" size-lg="4" size-xl="2.5">
        <ion-card class="add-widget-card ion-activatable ripple-parent" (click)="setOpen(true)">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-content>
            <div class="add-widget-container">
              <ion-icon name="add-circle-outline" class="add-icon"></ion-icon>
              <div class="add-text">
                <h2>Agregar Widget</h2>
                <p>Haz clic para añadir un nuevo widget al dashboard</p>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="toggleFullscreen()">
      <ion-icon [name]="isFullscreen ? 'contract-outline' : 'expand-outline'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal [isOpen]="isModalOpen" (ionModalWillDismiss)="isModalOpen = false" [focusTrap]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Agregar nuevo widget</ion-title>
          <ion-buttons slot="end">
            <ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar"
              [(ngModel)]="newWidgetData.color"></ngx-colors>
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder="" [(ngModel)]="newWidgetData.name" style="text-align: right;">
            <div slot="label"><ion-text color="primary">Nombre:</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Tipo de widget:" color="primary" [(ngModel)]="newWidgetData.widgetType"
            interface="popover">
            <ion-select-option value="chart">Chart</ion-select-option>
            <ion-select-option value="heatmap">Mapa de calor</ion-select-option>
            <ion-select-option value="thermo">Termómetro</ion-select-option>
            <ion-select-option value="onoff">On Off</ion-select-option>
            <ion-select-option value="gauge">Gauge</ion-select-option>
            <ion-select-option value="watertank">Nivel</ion-select-option>
            <ion-select-option value="counter">Counter</ion-select-option>
            <ion-select-option value="number">Número</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="newWidgetData.widgetType == 'chart'">
          <ion-select label="Estilo:" color="primary" [(ngModel)]="newWidgetData.chartType" interface="popover">
            <ion-select-option value="area">Area</ion-select-option>
            <ion-select-option value="line">Lineas</ion-select-option>
            <ion-select-option value="bar">Barras</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="newWidgetData.widgetType == 'number'">
          <ion-select label="Tamaño:" color="primary" [(ngModel)]="newWidgetData.font_size" interface="popover">
            <ion-select-option value="50px">Pequeño</ion-select-option>
            <ion-select-option value="100px">Mediano</ion-select-option>
            <ion-select-option value="150px">Grande</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-toggle [checked]="newWidgetData.borderFlag == 'Y'"
            (ionChange)="newWidgetData.borderFlag = $event.detail.checked ? 'Y' : 'N'">
            Borde
          </ion-toggle>
        </ion-item>
        <ion-item-sliding *ngFor="let sensor of newWidgetData.sensors; let i = index" lines="full">
          <ion-item>
            <ion-select label="Dispositivo:" color="primary" [(ngModel)]="sensor.machine_id" label-placement="floating"
              interface="popover">
              <ion-select-option *ngFor="let mach of machines" [value]="mach.machine_id">
                {{ mach.machine_name }}
              </ion-select-option>
            </ion-select>
            <ion-select label="Sensor:" color="primary" [(ngModel)]="sensor.sensor_id" label-placement="floating"
              interface="popover" (ionChange)="ChangeSensor(sensor)">
              <ion-select-option *ngFor="let s of getSensorsForMachine(sensor.machine_id)" [value]="s.sensor_id">
                {{ s.sensor_name }}
              </ion-select-option>
            </ion-select>
            <ion-input type="text" placeholder="UoM" [(ngModel)]="sensor.uom"
              style="text-align: right; max-width: 80px;"
              *ngIf="newWidgetData.widgetType == 'thermo' || newWidgetData.widgetType == 'onoff' || newWidgetData.widgetType == 'gauge' || newWidgetData.widgetType == 'watertank' || newWidgetData.widgetType == 'counter' || newWidgetData.widgetType == 'number'">
            </ion-input>
            <ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar" style="margin-left: 10px;"
              *ngIf="newWidgetData.widgetType != 'thermo' && newWidgetData.widgetType != 'gauge' && newWidgetData.widgetType != 'watertank' && newWidgetData.widgetType != 'onoff' && newWidgetData.widgetType != 'heatmap'"
              [(ngModel)]="sensor.color"></ngx-colors>
          </ion-item>
          <ion-item-options side="end"
            *ngIf="newWidgetData.widgetType != 'thermo' && newWidgetData.widgetType != 'gauge' && newWidgetData.widgetType != 'watertank' && newWidgetData.widgetType != 'onoff'">
            <ion-item-option color="danger" (click)="removeSensor(sensor)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item *ngIf="newWidgetData.widgetType == 'onoff'">
            <ion-input type="text" placeholder="" [(ngModel)]="sensor.max">
              <div slot="label"><ion-text color="primary">Apagado menor a:</ion-text></div>
            </ion-input>
            <div slot="end" style="display: flex; align-items: center; gap: 10px; width: 42%;">
              <ion-label color="primary" style="white-space: nowrap; margin: 0;">Color encendido:</ion-label>
              <ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar" [(ngModel)]="sensor.maxColor">
              </ngx-colors>
            </div>
          </ion-item>
          <ion-item
            *ngIf="newWidgetData.widgetType == 'thermo' || newWidgetData.widgetType == 'gauge' || newWidgetData.widgetType == 'watertank'">
            <ion-input type="text" placeholder="" [(ngModel)]="sensor.min" style="text-align: right;">
              <div slot="label"><ion-text color="primary">Mínimo:</ion-text></div>
            </ion-input><ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar"
              [(ngModel)]="sensor.minColor" style="margin-left: 10px;"></ngx-colors>
            <ion-input type="text" placeholder="" [(ngModel)]="sensor.max"
              style="text-align: right; margin-left: 10px;">
              <div slot="label"><ion-text color="primary">Máximo:</ion-text></div>
            </ion-input><ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar"
              [(ngModel)]="sensor.maxColor" style="margin-left: 10px;"></ngx-colors>
          </ion-item>
        </ion-item-sliding>
        <div *ngIf="newWidgetData.widgetType == 'heatmap'">
          <ion-item-sliding *ngFor="let rule of newWidgetData.rules; let i = index">
            <ion-item>
              <ion-input type="text" placeholder="" [(ngModel)]="rule.name" style="text-align: right;">
                <div slot="label"><ion-text color="primary">Etiqueta:</ion-text></div>
              </ion-input>
              <!-- Input de min deshabilitado excepto para la primera regla -->
              <ion-input type="number" placeholder="" [(ngModel)]="rule.from" [disabled]="i !== 0"
                style="text-align: right; margin-left: 10px;" [style.opacity]="i !== 0 ? '0.6' : '1'">
                <div slot="label"><ion-text color="primary">Desde:</ion-text></div>
              </ion-input>
              <!-- Input de max con validación -->
              <ion-input type="number" placeholder="" [(ngModel)]="rule.to" [debounce]="1000"
                (ionInput)="onMaxChange(rule, i)" style="text-align: right; margin-left: 10px;">
                <div slot="label"><ion-text color="primary">Hasta:</ion-text></div>
              </ion-input>
              <ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar" [(ngModel)]="rule.color"
                style="margin-left: 10px;"> </ngx-colors>
            </ion-item>
            <ion-item-options side="end" *ngIf="i != 0">
              <ion-item-option color="danger" (click)="removeRule(rule, i)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
        <div class="ion-text-center"
          *ngIf="newWidgetData.widgetType != 'thermo' && newWidgetData.widgetType != 'gauge' && newWidgetData.widgetType != 'watertank' && newWidgetData.widgetType != 'onoff' && newWidgetData.widgetType != 'counter' && newWidgetData.widgetType != 'heatmap'">
          <ion-button fill="outline" (click)="addNewSensor()">Agregar sensor</ion-button>
        </div>
        <div class="ion-text-center" *ngIf="newWidgetData.widgetType == 'heatmap'">
          <ion-button fill="outline" (click)="addNewRule()">Agregar regla</ion-button>
        </div>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button (click)="addNewWidget()">
            <ion-icon name="checkmark"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-loading></ion-loading>