<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" *ngFor="let widget of widgets">
        <ng-container [ngSwitch]="widget.jsonParams.widgetType">
          <app-charts *ngSwitchCase="'chart'" [data]="widget.jsonParams"
            (remove)="removeWidget(widget.jsonParams.dashboard_id)">
          </app-charts>
          <app-heatmap *ngSwitchCase="'heatmap'" [data]="widget.jsonParams"
            (remove)="removeWidget(widget.jsonParams.dashboard_id)">
          </app-heatmap>
          <app-thermometer *ngSwitchCase="'thermo'" [data]="widget.jsonParams"
            (remove)="removeWidget(widget.jsonParams.dashboard_id)"></app-thermometer>
          <app-gauge *ngSwitchCase="'gauge'" [data]="widget.jsonParams"
            (remove)="removeWidget(widget.jsonParams.dashboard_id)"></app-gauge>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="setOpen(true)">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal [isOpen]="isModalOpen" (ionModalWillDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Agregar nuevo widget</ion-title>
          <ion-buttons slot="end">
            <ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar"
              [(ngModel)]="newWidgetData.color"></ngx-colors>
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder="" [(ngModel)]="newWidgetData.name" style="text-align: right;">
            <div slot="label"><ion-text color="primary">Nombre:</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Tipo de widget:" color="primary" [(ngModel)]="newWidgetData.widgetType">
            <ion-select-option value="chart">Chart</ion-select-option>
            <ion-select-option value="heatmap">Mapa de calor</ion-select-option>
            <ion-select-option value="thermo">Termómetro</ion-select-option>
            <ion-select-option value="gauge">Gauge</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="newWidgetData.widgetType == 'chart'">
          <ion-select label="Estilo:" color="primary" [(ngModel)]="newWidgetData.chartType">
            <ion-select-option value="area">Area</ion-select-option>
            <ion-select-option value="line">Lineas</ion-select-option>
            <ion-select-option value="bar">Barras</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item-sliding *ngFor="let sensor of newWidgetData.sensors; let i = index" lines="full">
          <ion-item>
            <ion-select label="Dispositivo:" color="primary" [(ngModel)]="sensor.machine_id" label-placement="floating">
              <ion-select-option *ngFor="let mach of machines" [value]="mach.machine_id">
                {{ mach.machine_name }}
              </ion-select-option>
            </ion-select>
            <ion-select label="Sensor:" color="primary" [(ngModel)]="sensor.sensor_id" label-placement="floating"
              (ionChange)="ChangeSensor(sensor)">
              <ion-select-option *ngFor="let s of getSensorsForMachine(sensor.machine_id)" [value]="s.sensor_id">
                {{ s.sensor_name }}
              </ion-select-option>
            </ion-select>
            <ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar"
              *ngIf="newWidgetData.widgetType != 'thermo' && newWidgetData.widgetType != 'gauge'"
              [(ngModel)]="sensor.color"></ngx-colors>
          </ion-item>
          <ion-item-options side="end"
            *ngIf="newWidgetData.widgetType != 'thermo' && newWidgetData.widgetType != 'gauge'">
            <ion-item-option color="danger" (click)="removeSensor(sensor)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item *ngIf="newWidgetData.widgetType == 'thermo' || newWidgetData.widgetType == 'gauge'">
            <ion-input type="text" placeholder="" [(ngModel)]="sensor.min" style="text-align: right;">
              <div slot="label"><ion-text color="primary">Mínimo:</ion-text></div>
            </ion-input><ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar"
              [(ngModel)]="sensor.minColor" style="margin-left: 10px;"></ngx-colors>
            <ion-input type="text" placeholder="" [(ngModel)]="sensor.max"
              style="text-align: right; margin-left: 10px;">
              <div slot="label"><ion-text color="primary">Máximo:</ion-text></div>
            </ion-input><ngx-colors ngx-colors-trigger acceptLabel="Aceptar" cancelLabel="Cancelar"
              [(ngModel)]="sensor.maxColor" style="margin-left: 10px;"></ngx-colors>
          </ion-item>
        </ion-item-sliding>
        <ion-item lines="none">
        </ion-item>
        <div class="ion-text-center"
          *ngIf="newWidgetData.widgetType != 'thermo' && newWidgetData.widgetType != 'gauge'">
          <ion-button fill="outline" (click)="addNewSensor()">Agregar sensor</ion-button>
        </div>
        <ion-item lines="none">
        </ion-item>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button (click)="addNewWidget()">
            <ion-icon name="checkmark"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>