<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="regions-wrapper">
    <!-------------------------- Region FUSION ------------------------------------>
    <div class="region-container full-height-container">
      <div class="region-header " style="background-color: var(--ion-color-primary)">
        <ion-icon name="people-outline"></ion-icon>
        <span>Tabla de usuarios</span>
        <!--ion-button size="small" color="primary" (click)="UploadOrganization()">CARGAR
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button-->
      </div>
      <p-table #dtUsers [value]="users" stripedRows selectionMode="multiple" [(selection)]="selectedItems"
        dataKey="user_id" styleClass="card-table-primeng" [size]="'small'" [rowHover]="true" [rows]="rowsPerPage"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions" [paginator]="true" [filterDelay]="0"
        [alwaysShowPaginator]="true" [globalFilterFields]="['name', 'role', 'email']"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} datos">
        <ng-template pTemplate="caption">
          <div class="table-caption">
            <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar" (click)="ClearFilter(dtUsers)" />
            <div></div> <!-- Spacer -->
            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input pInputText type="text" [(ngModel)]="searchValueUsers" (input)="OnFilterGlobal($event, dtUsers)"
                placeholder="Buscar" />
            </p-iconField>
          </div>
        </ng-template>
        <ng-template #header>
          <tr>
            <!--th style="width: 4rem">
              <p-tableHeaderCheckbox />
            </th-->
            <th pSortableColumn="name">
              <div class="flex justify-between items-center">Nombre <p-sortIcon field="name" />
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="role">
              <div class="flex justify-between items-center">Rol <p-sortIcon field="role" />
                <p-columnFilter type="text" field="role" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="email" *ngIf="!isSmallScreen">
              <div class="flex justify-between items-center">Email <p-sortIcon field="email" />
                <p-columnFilter type="text" field="email" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="type" *ngIf="!isSmallScreen">
              <div class="flex justify-between items-center">Tipo <p-sortIcon field="type" />
                <p-columnFilter type="text" field="type" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="organizations" *ngIf="!isSmallScreen">
              <div class="flex justify-between items-center">Organizaciones <p-sortIcon field="type" />
                <p-columnFilter type="text" field="organizations" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="enabled_flag">
              <div class="flex justify-between items-center">
                <p-sortIcon field="enabled_flag" />
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-item let-rowIndex="rowIndex">
          <tr>
            <!--td>
              <p-tableCheckbox [value]="item" />
            </td-->
            <td>{{ item.name }}</td>
            <td>{{ item.role }}</td>
            <td *ngIf="!isSmallScreen"><span>{{ item.email }}</span> </td>
            <td *ngIf="!isSmallScreen">{{ item.type }}</td>
            <td *ngIf="!isSmallScreen">
              <ng-container *ngIf="item.organizations?.length; else noOrgs">
                <span *ngFor="let org of item.organizations; let last = last">
                  {{ org.org_name }}<span *ngIf="!last">, </span>
                </span>
              </ng-container>
              <ng-template #noOrgs>Sin organizaciones</ng-template>
            </td>
            <td>
              <ion-buttons>
                <ion-toggle [checked]="item.enabled_flag == 'Y'" [disabled]="!permissions.isSuperAdmin()"
                  (ionChange)="ChangeUserStatus($event, item)">
                </ion-toggle>
                <ion-button (click)="OpenAsEditUser(item)" *ngIf="permissions.isSuperAdmin()">
                  <ion-icon color="success" slot="icon-only" name="pencil-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpen" (ionModalWillDismiss)="isModalOpen = false" [focusTrap]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{isNewFlag ? 'Agregar nuevo usuario' : 'Editar usuario' }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false;">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!--ion-item>
          <ion-select label="Tipo:" [(ngModel)]="user.type" required interface="popover">
            <ion-select-option value="USER">USER</ion-select-option>
            <ion-select-option value="ANDON">ANDON</ion-select-option>
          </ion-select>
        </ion-item-->
        <ion-item>
          <ion-select label="Rol:" [(ngModel)]="user.role" required interface="popover">
            <ion-select-option value="Viewer">Viewer</ion-select-option>
            <ion-select-option value="Admin">Admin</ion-select-option>
            <ion-select-option value="SuperAdmin">SuperAdmin</ion-select-option>
          </ion-select>
        </ion-item>
        <!--ion-item>
          <ion-select label="Nivel:" [(ngModel)]="user.level" required interface="popover">
            <ion-select-option [value]="1">1</ion-select-option>
            <ion-select-option [value]="2">2</ion-select-option>
            <ion-select-option [value]="3">3</ion-select-option>
            <ion-select-option [value]="4">4</ion-select-option>
            <ion-select-option [value]="5">5</ion-select-option>
          </ion-select>
        </ion-item-->
        <ion-item>
          <ion-input placeholder="Nombre" [(ngModel)]="user.name" name="name" required>
            <div slot="label"><ion-text color="primary">Nombre:</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Email" [(ngModel)]="user.email" name="email" type="email" required>
            <div slot="label"><ion-text color="primary">E-mail:</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Contraseña" [(ngModel)]="user.password" name="password" type="password" required>
            <div slot="label"><ion-text color="primary">Contraseña:</ion-text>
            </div>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <!--ion-item>
          <ion-input placeholder="RFID" [(ngModel)]="user.rfid" name="rfid" type="number">
            <div slot="label"><ion-text color="primary">RFID:</ion-text></div>
          </ion-input>
        </ion-item-->
        <ion-item>
          <ion-toggle [checked]="user.enabled_flag == 'Y'"
            (ionChange)="user.enabled_flag = $event.detail.checked ? 'Y' : 'N'">
            Activo:</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-select label="Organizaciones:" placeholder="Seleccione las organizaciones"
            [(ngModel)]="user.organizations" [multiple]="true" interface="popover" [compareWith]="compareOrganizations">
            <ion-select-option *ngFor="let org of organizations"
              [value]="{ org_id: org.OrganizationId, org_code: org.Code, org_name: org.Name }">
              {{ org.Code }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button (click)="isNewFlag ? AddNewUser() : UpdateUser()" color="success">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-fab slot="fixed" vertical="bottom" horizontal="start" *ngIf="!isNewFlag">
          <ion-fab-button (click)="DeleteUser()" color="danger">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="permissions.isSuperAdmin()">
    <ion-fab-button (click)="OpenAsNewUser()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
