<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="regions-wrapper">
    <!-------------------------- Region FUSION ------------------------------------>
    <div class="region-container">
      <div class="region-header" style="background-color: var(--ion-color-primary)">
        <ion-icon name="people-outline"></ion-icon>
        <span>Tabla de usuarios</span>
        <!--ion-button size="small" color="primary" (click)="UploadOrganization()">CARGAR
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button-->
      </div>
      <p-table #dtUsers [value]="users.items" stripedRows selectionMode="multiple" [(selection)]="selectedItems" *ngIf="users.length !=0"
        dataKey="user_id" [tableStyle]="{ 'min-width': '30rem' }" styleClass="card-table-primeng" [size]="'small'"
        [rowHover]="true" [rows]="rowsPerPage" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions"
        [paginator]="true" [filterDelay]="0" [alwaysShowPaginator]="true"
        [globalFilterFields]="['name', 'role', 'email']"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} datos">
        <ng-template pTemplate="caption">
          <div class="table-caption">
            <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar" (click)="ClearFilter(dtUsers)" />

            <div></div> <!-- Spacer -->
            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input pInputText type="text" [(ngModel)]="searchValueUsers" (input)="OnFilterGlobal($event, dtUsers)"
                placeholder="Buscar" />
            </p-iconField>
          </div>
        </ng-template>
        <ng-template #header>
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="name">
              <div class="flex justify-between items-center">Nombre <p-sortIcon field="name" />
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="role">
              <div class="flex justify-between items-center">Rol <p-sortIcon field="role" />
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="email">
              <div class="flex justify-between items-center">Email <p-sortIcon field="email" />
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="type">
              <div class="flex justify-between items-center">Tipo <p-sortIcon field="type" />
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto" />
              </div>
            </th>
            <th style="width: 4rem">
              <div class="flex justify-between items-center">Acciones
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto" />
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-item let-rowIndex="rowIndex">
          <tr>
            <td>
              <p-tableCheckbox [value]="item" />
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.type }}</td>
            <td>
              <ion-buttons>
                <ion-button>
                  <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpen" (ionModalWillDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Agregar nuevo usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-select label="Rol" [(ngModel)]="user.role" name="role" required interface="popover">
            <ion-select-option value="Supervisor">Supervisor</ion-select-option>
            <ion-select-option value="Operador">Operador</ion-select-option>
            <ion-select-option value="Administrador">Administrador</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select label="Nivel" [(ngModel)]="user.level" name="level" required interface="popover">
            <ion-select-option *ngFor="let lvl of [1, 2, 3, 4]">{{ lvl }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Nombre" [(ngModel)]="user.name" name="name" required>
            <div slot="label"><ion-text color="primary">Nombre:</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Email" [(ngModel)]="user.email" name="email" type="email" required>
            <div slot="label"><ion-text color="primary">E-mail:</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Contraseña" [(ngModel)]="user.password" name="password" type="password" required>
            <div slot="label"><ion-text color="primary">Contraseña:</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="RFID" [(ngModel)]="user.rfid" name="rfid" type="number">
            <div slot="label"><ion-text color="primary">RFID:</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-toggle [(ngModel)]="user.enabled_flag" name="enabled_flag" [checked]="true"
            (ionChange)="user.enabled_flag = $event.detail.checked ? 'Y' : 'N'"> Activo</ion-toggle>
        </ion-item>
        <ion-item-sliding *ngFor="let org of user.organizations; let i = index" lines="full">
          <ion-item>
            <ion-select label="Organización:" [(ngModel)]="org.org_id" required
              interface="popover">
              <ion-select-option *ngFor="let orgAv of getAvailableOrganizations(org.org_id)"
                [value]="orgAv.OrganizationId">
                {{ orgAv.Name }} ({{ orgAv.Code }})
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeOrganization(org)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <div class="ion-text-center">
          <ion-button fill="outline" (click)="addNewOrganization()" [disabled]="!hasAvailableOrganizations"
            [disabled]="organizations.length === 0">
            Agregar organización
          </ion-button>
        </div>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button (click)="AddNewUser()">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="setOpen(true)">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>