/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@use "@ionic/angular/css/normalize.css";
@use "@ionic/angular/css/structure.css";
@use "@ionic/angular/css/typography.css";
@use "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@use "@ionic/angular/css/padding.css";
@use "@ionic/angular/css/float-elements.css";
@use "@ionic/angular/css/text-alignment.css";
@use "@ionic/angular/css/text-transformation.css";
@use "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@use "@ionic/angular/css/palettes/dark.class.css";
//@import '@ionic/angular/css/palettes/dark.system.css';

/* CSS personalizados globales */
@use "./theme/primeicons.scss";
@use "./theme/alertify.scss";
@use "./theme/integrations.ui.scss";
@use "./theme/tables.primeng.scss";

@use "./theme/leaflet.scss";
@use "./theme/swiper.scss";


ion-modal.custom-modal::part(content) {
  width: auto;
  max-width: 90%;
  height: 50%;
  max-height: auto;
}

ion-alert {
  --backdrop-opacity: 0.7;
}

ion-alert .alert-head {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-primary-contrast);
  margin-bottom: 15px;
}

ion-alert .alert-head {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-primary-contrast);
  margin-bottom: 15px;
}

ion-alert .alert-title {
  color: #fff;
}

ion-alert .alert-title {
  color: #fff;
}

ion-alert .alert-head.alert-title {
  color: #fff;
}

ion-alert .alert-message {
  text-align: center;
}

ion-alert.custom-left .alert-message {
  text-align: left;
}

ion-alert .alert-input-group {
  margin-top: -28px;
}


button.alert-button.alert-button {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-primary-contrast);
}

button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-primary-contrast);
}

button.alert-button.alert-button-peso {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
}

button.alert-button.alert-button-role-cancel {
    background-color: var(--ion-color-danger);
    color: var(--ion-color-danger-contrast);
}

.md button.alert-button {
    border-radius: 13px;
}

.alert-title.sc-ion-alert-md {
    color: #fff;
}
.alert-sub-title.sc-ion-alert-md {
    color: #fff;
}