<ion-header [translucent]="true" xmlns="http://www.w3.org/1999/html">
  <ion-toolbar>
    <ion-title>Ordenes de Trabajo {{dbOrganizations.Company.Name}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-select flex flex-wrap justify-center items-end gap-4">
    <span class="mfg-label">Tipo de manufactura: <strong>{{organizationSelected.WorkMethod}}</strong></span>
    <p-floatlabel class="w-full md:w-56" variant="on">
      <p-select [(ngModel)]="organizationSelected"
                inputId="organization_select"
                [options]="dbOrganizations.Company.Organizations"
                optionLabel="Name"
                [filter]="true"
                filterBy="Name"
                placeholder="Seleccione una organización"
                styleClass="w-full"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                (onChange)="OnOrganizationSelected()" />
      <label for="organization_select">Organización</label>
    </p-floatlabel>
  </div>
  <div class="regions-wrapper">
    <!-------------------------- Region FUSION ------------------------------------>
    <div class="region-container" #regionContainer>
      <div class="region-header" style="background-color: #fd5d93">
        <ion-icon name="cloud-outline"></ion-icon>
        <span>Ordenes de Trabajo Fusion</span>
        <ion-button size="small" color="primary" (click)="UploadResources()">CARGAR
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
      <p-table #dtFusion
               [value]="fusionData.items"
               [(selection)]="selectedItemsFusion"
               dataKey="WorkOrderNumber"
               styleClass="card-table-primeng"
               [tableStyle]="{ 'min-width': '50rem','height': '100%'}"
               [size]="'small'"
               [rowHover]="true"
               [rows]="rowsPerPage"
               [showCurrentPageReport]="true"
               [rowsPerPageOptions]="rowsPerPageOptions"
               [paginator]="true"
               currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} datos"
               [filterDelay]="0"
               [globalFilterFields]="['WorkOrderNumber', 'ItemNumber', 'StartDate']"
               stripedRows
               [scrollable]="true"
               [scrollHeight]="GetScrollHeight()"
               [alwaysShowPaginator]="true"
      >
        <ng-template #caption>
          <div class="table-caption">
            <p-button
              [outlined]="true"
              icon="pi pi-filter-slash"
              label="Limpiar"
              (click)="ClearFusion(dtFusion)" />

            <div></div> <!-- Spacer -->

            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input pInputText type="text"
                     [(ngModel)]="searchValueFusion"
                     (input)="OnFilterGlobal($event, dtFusion)"
                     placeholder="Buscar" />
            </p-iconField>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="WorkOrderNumber" style="min-width: 7rem">
              <div class="flex justify-between items-center">
                OT
                <p-sortIcon field="WorkOrderNumber" />
                <p-columnFilter type="text" field="WorkOrderNumber" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="ItemNumber" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                Producto
                <p-sortIcon field="ItemNumber" />
                <p-columnFilter type="text" field="ItemNumber" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="ResourceCode" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                Máquina
                <p-sortIcon field="ResourceCode" />
                <p-columnFilter field="ResourceCode" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
            <th pSortableColumn="PlannedQuantity" style="min-width: 8rem">
              <div class="flex justify-between items-center">
                Meta
                <p-sortIcon field="PlannedQuantity" />
                <p-columnFilter field="PlannedQuantity" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
            <th pSortableColumn="CompletedQuantity" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                Completo
                <p-sortIcon field="CompletedQuantity" />
                <p-columnFilter field="CompletedQuantity" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
            <th pSortableColumn="StartDate" style="min-width: 12rem">
              <div class="flex justify-between items-center">
                F. Inicio
                <p-sortIcon field="StartDate" />
                <p-columnFilter field="StartDate" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
            <th pSortableColumn="CompletionDate" style="min-width: 12rem">
              <div class="flex justify-between items-center">
                F. Fin
                <p-sortIcon field="CompletionDate" />
                <p-columnFilter field="CompletionDate" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item"
                               [disabled]="item.ResourceCode === '*****'"/>
            </td>
            <td>{{ item.WorkOrderNumber }}</td>
            <td>{{ item.ItemNumber }}</td>
            <td>{{ item.ResourceCode }}</td>
            <td>{{ item.PlannedQuantity }}</td>
            <td>{{ item.CompletedQuantity }}</td>
            <td>{{ FormatForDisplayUser(item.StartDate) }}</td>
            <td>{{ FormatForDisplayUser(item.CompletionDate) }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No se encontraron recursos.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-------------------------- Region DB ------------------------------------>
    <div class="region-container">
      <div class="region-header" style="background-color: #00bf9a">
        <ion-icon name="server-outline"></ion-icon>
        <span>Ordenes de Trabajo DB</span>
        <ion-button size="small" color="danger" (click)="DeleteResources()">ELIMINAR
          <ion-icon slot="end" name="trash"></ion-icon>
        </ion-button>
      </div>
      <p-table #dtDB
               [value]="dbData.items"
               [(selection)]="selectedItemsDB"
               dataKey="WorkOrderNumber"
               styleClass="card-table-primeng"
               [tableStyle]="{ 'min-width': '50rem'}"
               [size]="'small'"
               [rowHover]="true"
               [rows]="rowsPerPage"
               [showCurrentPageReport]="true"
               [rowsPerPageOptions]="rowsPerPageOptions"
               [paginator]="true"
               currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} datos"
               [filterDelay]="0"
               [globalFilterFields]="['WorkOrderNumber', 'ItemNumber', 'StartDate']"
               stripedRows
               [scrollable]="true"
               [scrollHeight]="GetScrollHeight()"
               [alwaysShowPaginator]="true"
      >
        <ng-template pTemplate="caption">
          <div class="table-caption">
            <p-button
              [outlined]="true"
              icon="pi pi-filter-slash"
              label="Limpiar"
              (click)="ClearDB(dtDB)"/>

            <div></div> <!-- Spacer -->

            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input
                pInputText
                type="text"
                [(ngModel)]="searchValueDB"
                (input)="OnFilterGlobal($event, dtDB)"
                placeholder="Buscar"
                style="width: 250px;" />
            </p-iconField>
          </div>
        </ng-template >

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox/>
            </th>
            <th pSortableColumn="WorkOrderNumber" style="min-width: 7rem">
              <div class="flex justify-between items-center">
                OT
                <p-sortIcon field="WorkOrderNumber" />
                <p-columnFilter type="text" field="WorkOrderNumber" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="ItemNumber" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                Producto
                <p-sortIcon field="ItemNumber" />
                <p-columnFilter type="text" field="ItemNumber" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="ResourceCode" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                Máquina
                <p-sortIcon field="ResourceCode" />
                <p-columnFilter field="ResourceCode" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
            <th pSortableColumn="PlannedQuantity" style="min-width: 8rem">
              <div class="flex justify-between items-center">
                Meta
                <p-sortIcon field="PlannedQuantity" />
                <p-columnFilter field="PlannedQuantity" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
            <th pSortableColumn="CompletedQuantity" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                Completo
                <p-sortIcon field="CompletedQuantity" />
                <p-columnFilter field="CompletedQuantity" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
            <th pSortableColumn="StartDate" style="min-width: 12rem">
              <div class="flex justify-between items-center">
                F. Inicio
                <p-sortIcon field="StartDate" />
                <p-columnFilter field="StartDate" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
            <th pSortableColumn="CompletionDate" style="min-width: 12rem">
              <div class="flex justify-between items-center">
                F. Fin
                <p-sortIcon field="CompletionDate" />
                <p-columnFilter field="CompletionDate" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item"/>
            </td>
            <td>{{ item.WorkOrderNumber }}</td>
            <td>{{ item.ItemNumber }}</td>
            <td>{{ item.ResourceCode }}</td>
            <td>{{ item.PlannedQuantity }}</td>
            <td>{{ item.CompletedQuantity }}</td>
            <td>{{ FormatForDisplayUser(item.StartDate) }}</td>
            <td>{{ FormatForDisplayUser(item.CompletionDate) }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No se encontraron organizaciones.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</ion-content>
