<ion-header [translucent]="true" xmlns="http://www.w3.org/1999/html">
  <ion-toolbar>
    <ion-title>Turnos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-select flex flex-wrap justify-center items-end gap-4">
    <p-floatlabel class="w-full md:w-56" variant="on">
      <p-select [(ngModel)]="organizationSelected"
                inputId="organization_select"
                [options]="dbOrganizations.items"
                optionLabel="Name"
                [filter]="true"
                filterBy="Name"
                optionValue="OrganizationId"
                placeholder="Seleccione una organización"
                styleClass="w-full"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                (onChange)="OnOrganizationSelected()" />
      <label for="organization_select">Organización</label>
    </p-floatlabel>
  </div>
  <div class="regions-wrapper">
    <!-------------------------- Region FUSION ------------------------------------>
    <div class="region-container" #regionContainer>
      <div class="region-header" style="background-color: #fd5d93">
        <ion-icon name="cloud-outline"></ion-icon>
        <span>Turnos Fusion</span>
        <ion-button size="small" color="primary" (click)="UploadShifts()">CARGAR
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
      <p-table #dtFusion
               [value]="fusionData.items"
               [(selection)]="selectedItemsFusion"
               dataKey="Name"
               styleClass="card-table-primeng"
               [tableStyle]="{ 'min-width': '50rem','height': '100%'}"
               [size]="'small'"
               [rowHover]="true"
               [rows]="rowsPerPage"
               [showCurrentPageReport]="true"
               [rowsPerPageOptions]="rowsPerPageOptions"
               [paginator]="true"
               currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} datos"
               [filterDelay]="0"
               [globalFilterFields]="['Name', 'StartTime', 'EndTime', 'Duration']"
               stripedRows
               [scrollable]="true"
               [scrollHeight]="GetScrollHeight()"
               [alwaysShowPaginator]="true"
      >
        <ng-template #caption>
          <div class="table-caption">
            <p-button
              [outlined]="true"
              icon="pi pi-filter-slash"
              label="Limpiar"
              (click)="ClearFusion(dtFusion)" />

            <div></div> <!-- Spacer -->

            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input pInputText type="text"
                     [(ngModel)]="searchValueFusion"
                     (input)="OnFilterGlobal($event, dtFusion)"
                     placeholder="Buscar" />
            </p-iconField>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox/>
            </th>
            <th pSortableColumn="Name" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                Turno
                <p-sortIcon field="Name" />
                <p-columnFilter type="text" field="Name" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="StartTime" style="min-width: 6rem">
              <div class="flex justify-between items-center">
                Inicio
                <p-sortIcon field="StartTime" />
                <p-columnFilter type="text" field="StartTime" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="EndTime" style="min-width: 6rem">
              <div class="flex justify-between items-center">
                Fin
                <p-sortIcon field="EndTime" />
                <p-columnFilter field="EndTime" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
            <th pSortableColumn="Duration" style="min-width: 6rem">
              <div class="flex justify-between items-center">
                Duración
                <p-sortIcon field="Duration" />
                <p-columnFilter field="Duration" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item"/>
            </td>
            <td>{{ item.Name }}</td>
            <td>{{ item.StartTime }}</td>
            <td>{{ item.EndTime }}</td>
            <td>{{ item.Duration }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No se encontraron recursos.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>


    <!-------------------------- Region DB ------------------------------------>
    <div class="region-container">
      <div class="region-header" style="background-color: #00bf9a">
        <ion-icon name="server-outline"></ion-icon>
        <span>Turnos DB</span>
        <ion-button size="small" color="danger" (click)="DeleteShits()">ELIMINAR
          <ion-icon slot="end" name="trash"></ion-icon>
        </ion-button>
      </div>
      <p-table #dtDB
               [value]="dbData.items"
               [(selection)]="selectedItemsDB"
               dataKey="Name"
               styleClass="card-table-primeng"
               [tableStyle]="{ 'min-width': '50rem'}"
               [size]="'small'"
               [rowHover]="true"
               [rows]="rowsPerPage"
               [showCurrentPageReport]="true"
               [rowsPerPageOptions]="rowsPerPageOptions"
               [paginator]="true"
               currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} datos"
               [filterDelay]="0"
               [globalFilterFields]="['Name', 'StartTime', 'EndTime', 'Duration']"
               stripedRows
               [scrollable]="true"
               [scrollHeight]="GetScrollHeight()"
               [alwaysShowPaginator]="true"
      >
        <ng-template pTemplate="caption">
          <div class="table-caption">
            <p-button
              [outlined]="true"
              icon="pi pi-filter-slash"
              label="Limpiar"
              (click)="ClearDB(dtDB)"/>

            <div></div> <!-- Spacer -->

            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input
                pInputText
                type="text"
                [(ngModel)]="searchValueDB"
                (input)="OnFilterGlobal($event, dtDB)"
                placeholder="Buscar"
                style="width: 250px;" />
            </p-iconField>
          </div>
        </ng-template >

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox/>
            </th>
            <th pSortableColumn="Name" style="min-width: 10rem">
              <div class="flex justify-between items-center">
                Turno
                <p-sortIcon field="Name" />
                <p-columnFilter type="text" field="Name" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="StartTime" style="min-width: 6rem">
              <div class="flex justify-between items-center">
                Inicio
                <p-sortIcon field="StartTime" />
                <p-columnFilter type="text" field="StartTime" display="menu" class="ml-auto" />
              </div>
            </th>
            <th pSortableColumn="EndTime" style="min-width: 6rem">
              <div class="flex justify-between items-center">
                Fin
                <p-sortIcon field="EndTime" />
                <p-columnFilter field="EndTime" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
            <th pSortableColumn="Duration" style="min-width: 6rem">
              <div class="flex justify-between items-center">
                Duración
                <p-sortIcon field="Duration" />
                <p-columnFilter field="Duration" matchMode="equals" display="menu" class="ml-auto"/>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item"/>
            </td>
            <td>{{ item.Name }}</td>
            <td>{{ item.StartTime }}</td>
            <td>{{ item.EndTime }}</td>
            <td>{{ item.Duration }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No se encontraron organizaciones.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</ion-content>
